# maven
target/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# eclipse
.classpath
.settings/
.project
.DS_Store
/src/.DS_Store
/src/test/.DS_Store

# sonarqube
sonar-project.properties
.scannerwork

bin
lib
/target/

.DS_Store
*/.DS_Store